<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClienteHuawei.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <ClienteHuawei.Properties.Settings>
            <setting name="ClienteHuawei_EventosIPCC_EventosTelefoniaService"
                serializeAs="String">
                <value>http://192.168.56.1:8080/ModuloIPCC/spring-ws/EventosTelefonia</value>
            </setting>
        </ClienteHuawei.Properties.Settings>
    </applicationSettings>
</configuration>